/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Gris claro para el fondo general */
    margin: 0;
    padding: 0;
  }
  
  /* Estilo para el contenedor principal */
  .B {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff; /* Fondo blanco para el contenedor principal */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilo para el botón de añadir nota */
  .B button {
    display: block;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: #00509e; /* Azul oscuro */
    color: white;
    font-size: 24px;
    cursor: pointer;
    margin: 0 auto 20px auto;
    transition: background-color 0.3s;
  }
  
  .B button:hover {
    background-color: #003f7f; /* Azul más oscuro al pasar el mouse */
  }
  
  /* Estilo del formulario */
  .form-container {
    margin-bottom: 20px;
    transition: opacity 0.3s;
  }
  
  .form-container.hidden {
    display: none;
  }
  
  .form-container.visible {
    display: block;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  form input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f9fa; /* Fondo gris claro para los campos de entrada */
  }
  
  /* Estilo para el botón de guardar */
  /* Estilo para el botón de guardar */
form button {
    padding: 10px;
    font-size: 16px;
    background-color: #00509e; /* Azul oscuro */
    color: white;
    border: none;
    border-radius: 3px; /* Borde ligeramente redondeado */
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  form button:hover {
    background-color: #003f7f; /* Azul más oscuro al pasar el mouse */
  }
  
  
  /* Estilo para la lista de notas */
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    background-color: #f0f0f0; /* Gris claro para el fondo de las notas */
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  li strong {
    color: #00509e; /* Azul oscuro para el texto de los títulos */
  }
  